.bone{
    animation: anim 2s linear infinite;
}

@keyframes anim{
    0%{
        background-color:aqua;
    }
    20%{
        background-color: red;
    }
    40%{
        background-color:purple;
    }
}

@keyframes anim2{
    0%{
        background-color:blue;
    }
    20%{
        background-color: white;
    }
    40%{
        background-color:black;
    }
}

@keyframes anim3{
    0%{
        background-color:blue;
    }
    20%{
        background-color: white;
    }
    40%{
        background-color:black;
    }
}